.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(5,11,22,0.9);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  z-index: 1000;
}

.logo {
  color: #1e90ff;
  font-weight: bold;
}

.menu a {
  color: #eaeaea;
  margin-left: 15px;
  text-decoration: none;
}

.nav-btn {
  border: 1px solid #1e90ff;
  padding: 5px 10px;
  border-radius: 6px;
}

.portfolio-box {
  background: #111c33;
  padding: 20px;
  border-radius: 10px;
}

.cta {
  text-align: center;
  padding: 60px 30px;
  background: linear-gradient(135deg, #0a1325, #050b16);
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
